{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>

    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
     <style>
       html{
         min-height: 100vh;
       }

       body{
        background:url('https://wallpaperaccess.com/full/1736479.jpg'); 
          background-repeat:no-repeat; 
          background-size: cover;
          height:100%
        }

      </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">
    <script src="{% static 'js/materialize.min.js' %}"></script>
    
    {% block head %} {% endblock %}

 </head>
<body>
    {% block content%} {% endblock %}
    {% block script%} {% endblock %}
    
</body>
</html>

