{% extends 'main/base.html' %}

{% block content %}

    {% include 'main/navbar.html' %}

    {% block head %}

      <style>

        .p1{
          background-color: black;
        }

        body{
          height: 100%;
        }

        .p2{
        font-family: 'PT Serif', serif;
        font-size: 16px;
        }

        .title{
        
          font-style:italic;
          font-family:times new roman;
          font-size: 15px;
        }

      </style>

    {% endblock %}
    <br>
    <h1></h1>
    <h1></h1>
    <div class="container p1">
    <div class="row">
        <div class="col s12 m4">
            <div class="card black">
                <div class="card-content white-text">
                <img class="materialboxed responsive-img" width="650" src="https://scontent.fdel24-1.fna.fbcdn.net/v/t1.0-9/51968842_1989073974480670_1799848097413595136_o.jpg?_nc_cat=101&_nc_sid=84a396&_nc_ohc=B_m1NG3gmOQAX-8hKyg&_nc_ht=scontent.fdel24-1.fna&oh=ba003f0dd5c8c53bd0497a1b458c5832&oe=5F56F58D">
                <span class="card-title title">Shivam Verma</span>
                <span class="title">Aspiring Data Scientist</span>
                </div>
      
            </div>
        </div>

        <div class="col s12 m8">
             <div class="card black">
                <div class="card-content white-text">
                <span class="card-title title">About Me</span>
                <p class="p2">I'm a sophomore @Indraprastha Institute of Information technology, pursuing BTech. in Computer Science and Applied Mathematics. Currently seeking opportunities in the field of Data Science.</p>
                <br>
                <p class="p2">On every platform I use the username: thenightwing<i class="fab fa-earlybirds"></i>, just because it's my favorite character of the DC Universe.🔥</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/The-Nightwing" target="_blank"><i class="fab fa-github fa-2x"></i></a>
              <a href="https://www.linkedin.com/in/shivam-verma-1a6b05196" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
              <a href="https://twitter.com/ShivamV55407517" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
              <a href="mailto:vermashivam0606@gmail.com" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
              </div>
        </div>
        </div>
      </div>
      </div>
{% endblock %}

{% block script %}

<script src="https://kit.fontawesome.com/4b58f03fab.js" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems);
  });

</script>


{% endblock %}

