{% extends 'main/base.html' %}

{% block content %}

    {% include 'main/navbar.html' %}

    {% block head %}

      <style>

        .p1{
          background-color: black;
        }

        .p2{
        font-family: 'PT Serif', serif;
        font-size: 16px;
        }

        .title{
        
          font-style:italic;
          font-family:times new roman;
          font-size: 14px;
        }

      </style>

    {% endblock %}
    <br>
    <h1></h1>
    <h1></h1>
    <div class="container p1">
    <div class="row">
        <div class="col s12 m4">
            <div class="card black">
                <div class="card-content white-text">
                <img class="materialboxed responsive-img" width="650" src="https://scontent.fdel24-1.fna.fbcdn.net/v/t1.0-9/92952599_2779612892093437_3332619954242453504_o.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=GJzsnTtSlE8AX-fm_lF&_nc_ht=scontent.fdel24-1.fna&oh=a54a29abb96b9f6fcb0d14542d45cd97&oe=5F3DE213">
                <span class="card-title title">Shivam Verma</span>
                <span class="title">Aspiring Data Scienist</span>
                </div>
      
            </div>
        </div>

        <div class="col s12 m8">
             <div class="card black">
                <div class="card-content white-text">
                <span class="card-title title">About Me</span>
                <p class="p2">I'm a sophomore @Indraprastha Institute of Information technology, pursuig BTech. in computer science and applied mathematics. Currently seeking the field of Data Science, deep learning in specific for now. </p>
                <br>
                <p class="p2">On every platform i use the username: thenightwing, just coz it's my favorite character of the DC Universe.🔥</p>
            </div>
            <div class="card-action">
              <a href="https://github.com/The-Nightwing" target="_blank"><i class="fab fa-github fa-2x"></i></a>
              <a href="https://www.linkedin.com/in/shivam-verma-1a6b05196" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
              <a href="https://twitter.com/ShivamV55407517" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
              <a href="mailto:vermashivam0606@gmail.com" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
              </div>
        </div>
        </div>
      </div>
      </div>
{% endblock %}

{% block script %}

<script src="https://kit.fontawesome.com/4b58f03fab.js" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems);
  });

</script>


{% endblock %}

