{% extends 'main/base.html'%}

{% block content %}

    {% include 'main/navbar.html' %}

    {% block head %}

      <style>
        .responsive{
            width: auto;
            height: auto;
        }

        .title{
            font-weight:bold;
            font-style:italic;
            font-family: times new roman;
            font-size:35px;
        }

        .chan{
            font-weight:bold;
            font-style:italic;
        }

        .p1{
        font-family: 'PT Serif', serif;

        }
      </style>

    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <h2 class="header"></h2>
                <h3 class="name"></h3>
                <div class="card horizontal black white-text">
                <div class="card-stacked">
                    <div class="card-content">
                    <span class="title">TheNightwing<i class="fab fa-earlybirds"></i></span>
                        <br>
                    <span class="chan">Youtube Channel</span>
                    <br>
                    <br>
                    <p class="p1">This is my Youtube Channel, I just made this randomly for passing time during the time of Pandemic Covid-19, content is mostly related to ML/DL concepts.:: 
                    <a href="https://www.youtube.com/channel/UCP2biSheHxfyFkrGwIQFKBg"><i class="fab fa-youtube fa-2x"></i></a>
                    </p>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h2 class="header"></h2>
                <div class="card horizontal black white-text">
                <div class="card-stacked">
                    <div class="card-content">
                    <h3 class="title">Social Media&Music💗</h3>
                    <p class="p1">I'm very much active on social media😄 , you can connect with me on these platoforms::   
                    <a href="https://www.facebook.com/shivam.verma.9275439/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>

                    <a href="https://www.instagram.com/shivi_020/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>

                    <a href="https://ibb.co/mDx4ZZx" target="_blank"><i class="fab fa-snapchat fa-2x"></i></a>

                    <a href="https://twitter.com/ShivamV55407517" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                </p>
                    <br>
                    <p>I love music💗, check out my spotify playlist:  <a href="https://open.spotify.com/playlist/69rkdFVDy0gMjUfTufjqwy?si=thyMzMUgTCmzFfb44aj8ZQ"><i class="fab fa-spotify fa-2x"></i></a></p>
                    </div>
                </div>
                </div>
        </div>
    </div>

{% endblock %}

{% block script %}

<script src="https://kit.fontawesome.com/4b58f03fab.js" crossorigin="anonymous"></script>

{%endblock%}