
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
  .name{
    font-family: times new roman;
    font-style: italic;
  }
  #n{
    font-family: times new roman;
    font-style: italic;
    font-size: 16px;
  }

  #n1{
    color: white;
    font-family: times new roman;
    font-style: italic;
    font-size: 18px;
    padding-top: 10px;
  }
  

</style>

<script>
  
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>

<nav class="black" style="padding: 0px 10px">
    <div class="nav-wrapper black darken-1">
      <a href="{% url 'index' %}" class="brand-logo" id="n">Shivam Verma</a>
      <a href="" class="sidenav-trigger" data-target="mobile-nav">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down responsive">
       <li><a href="{% url 'index' %}" id="n">Home</a></li>
        <li><a href="{% url 'projects' %}" id="n">Projects</a></li>
        <li><a href="{% url 'skills' %}" id="n">Skills</a></li>
        <li><a  href="{% url 'wexp' %}" id="n">Work Experience</a></li>
        <li><a  href="{% url 'life' %}" id="n">Life out of Code</a></li>
        <li><a  href="https://drive.google.com/file/d/1y-1QuMSmQT11iPBujXU93lZYdvhwkML7/view?usp=sharing" id="n">Resume</a></li>
  
      </ul>
    </div>
  </nav>

  <ul class="sidenav black white-text" id="mobile-nav">
      <li><a href="{% url 'index' %}" id="n1">Home</a></li>
      <li><a href="{% url 'projects' %}" id="n1">Projects</a></li>
      <li><a  href="{% url 'skills' %}" id="n1">Skills</a></li>
      <li><a  href="{% url 'wexp' %}" id="n1">Work Experience</a></li>
      <li><a  href="{% url 'life' %}" id="n1">Life out of Code</a></li>
      <li><a  href="https://drive.google.com/file/d/1y-1QuMSmQT11iPBujXU93lZYdvhwkML7/view?usp=sharing" id="n">Resume</a></li>
  </ul>

