{% block head %}
<style>
  .name{
    font-family: times new roman;
    font-style: italic;
  }
  #n{
    font-family: times new roman;
    font-style: italic;
    font-size: 20;
  }
  .topnav{
    overflow: hidden;
    position: relative;
  }
</style>

{%endblock %}

<nav>
    <div class="nav-wrapper black darken-1">
      <a href="{% url 'index' %}" class="brand-logo name">Shivam Verma</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down topnav">
       <li><a href="{% url 'index' %}" id="n">Home</a></li>
        <li><a href="{% url 'projects' %}" id="n">Projects</a></li>
        <li><a href="{% url 'skills' %}" id="n">Skills</a></li>
        <li><a href="{% url 'life' %}" id="n">Life out of Code</a></li>
      </ul>
    </div>
  </nav>