{% extends 'main/base.html' %}

{%block content %}

    {% include 'main/navbar.html' %}

    {% block head %}
    <style>
      .p1{
        margin-top:50px;
      }
    </style>
    {% endblock %}
    
      <div class="p1">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card blue-grey darken-1">
                      <div class="card-content white-text">
                        <span class="card-title">Languages</span>
                      </div>
                    </div>
                  </div>

            <div class="col s12 m4">
                <ul class="collapsible">
                    <li>
                      <div class="collapsible-header"><i class="fab fa-python fa-2x"></i>Python</div>
                      <div class="collapsible-body"><span></span></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="fab fa-java fa-2x"></i>Java</div>
                      <div class="collapsible-body"><span></span></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="fas fa-code fa-2x"></i>C/C++</div>
                      <div class="collapsible-body"><span></span></div>
                    </li>
                  </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Tools & Technologies</span>
                      <p>Technologies and frameworks, I'm familiar with.</p>
                    </div>
                  </div>
            </div>

        <div class="col s12 m4">
            <ul class="collapsible">
                <li>
                  <div class="collapsible-header"><i class="fab fa-python fa-2x"></i>Django</div>
                  <div class="collapsible-body"><span></span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="fas fa-flask fa-2x"></i>Flask</div>
                  <div class="collapsible-body"><span></span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="fab fa-java fa-2x"></i>JavaFx</div>
                  <div class="collapsible-body"><span></span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="fab fa-python fa-2x"></i>PyMongo</div>
                  <div class="collapsible-body"><span></span></div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="fab fa-codepen fa-2x"></i>Tensorflow</div>
                  <div class="collapsible-body"><span></span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fab fa-css3-alt fa-2x"></i>HTML/CSS</div>
                    <div class="collapsible-body"><span></span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-code branch fa-2x"></i>Git</div>
                    <div class="collapsible-body"><span></span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-code fa-2x"></i>OpenCV</div>
                    <div class="collapsible-body"><span></span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fab fa-codepen fa-2x"></i>Natural Language Preprocessing(NLP)</div>
                    <div class="collapsible-body"><span></span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fas fa-blog fa-2x"></i>Web Scraping</div>
                    <div class="collapsible-body"><span></span></div>
                </li>
              </ul>
        </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Industry Knowledge</span>
                    </div>
                  </div>
            </div>
            <div class="col s12 m4">
                <ul class="collapsible">
                    <li>
                      <div class="collapsible-header"><i class="fab fa-codepen fa-2x"></i></i>Machine Learning</div>
                      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><i class="fab fa-codepen fa-2x"></i>Deep Learning</div>
                      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}

<script src="https://kit.fontawesome.com/4b58f03fab.js" crossorigin="anonymous"></script>

{% endblock %}